html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 270px;
}
a {
  text-decoration: none !important;
}



.ms-layer .home {
  h1 {
    font-size:2.8em !important;
    color:#333;
  }
}

@media(max-width:1050px) {
  .ms-layer .home {
    margin-top:-50px;
  }
}


.effect_holder {
  width:100%;
  .container {
    width:100%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 220px;
  .footer_logo_base {
    background:url('/images/footer_logo_base.png') no-repeat;
    height:60px;
    background-position:-325px top;
  }

  &::before {
    background:url('/images/footer_logo_base_repeater.jpg') repeat-x;
    content: "";
    width: 14%;
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
  }

  .footer-text {
    margin-top:30px;
    font-size:12px;
  }
  @media(min-width:1600px) {
    &::before {
      width: 12%;
    }
  }
  @media(min-width:1700px) {
    &::before {
      width: 13%;
    }
  }
  @media(min-width:2000px) {
    &::before {
      width: 20%;
    }
  }
  .sub_menu {
    position:absolute;
    top:26px;
    left:180px;
    ul {
      margin-left:30px;
      list-style: none;
      li {
        float:left;
        margin-left:20px;
        a {
          font-weight: 600;
          color:#333333;
          &:hover {
            color:#666666;
          }
        }
      }
    }
  }
}


.navbar {
  .nav-item {
    height:55px;
    margin-top:7px;
    padding:7px 12px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    &.active {
      background-color:#F3F3F3;
      .nav-link {
        color:$red;
      }
    }
    .nav-link {
      color:#000000;
      font-weight: 600;
      &:hover {
        color:$red;
      }
    }
  }
  .dropdown-menu {
    background-color:rgba(255,255,255,0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:2px;
    .dropdown-divider {
      margin:10px 0;
      border-top: 2px solid rgba(212, 231, 251,0.8);
    }
    .percentage_holder {
      position: absolute;
      left:10px;
    }
    .dropdown-item:hover {
      background-color:transparent;
      color:$red;
    }
  }
  &.navbar-expand-lg {
    padding-top:0px;
    padding-bottom: 0px;
    height:62px;
    .navbar-toggler {
      z-index:4;
    }
    .navbar-collapse {
      z-index:4;
    }
    .navbar-brand {
      position: absolute;
      z-index:5;
      left:45px;
      top:12px;
    }
    .logo_base {
      background:url('/images/logo_base.png') no-repeat;
      width:100%;
      height:100px;
      position:absolute;
      top:0;
      left:0;
      z-index:1;
    }
  }
  .navbar-collapse {
    height:62px;
    .navbar-nav {
      margin-left:350px;
    }
  }
  @media(max-width:992px) {
    .navbar-collapse {
      position: absolute;
      height:auto;
      border-bottom-right-radius:15px;
      border-bottom-left-radius:15px;
      background:rgba(255,255,255,0.9);
      top:54px;
      right:15px;
      .navbar-nav {
        margin-left:0;
        padding:5px 10px;
        width:250px;
        .nav-item {
          height:40px;
          padding:2px 12px;
        }
      }
      .dropdown-menu {
        border:none;
        background-color:#EFEFEF;
        .percentage_holder {
          left:20px;
        }
      }
    }
  }
}
strong, b {
  font-weight:600 !important;
}
.owl-carousel {
  p {
    margin-bottom:0 !important;
  }
}
.back_line {
  position:relative;
    &::after {
      content: "";
      background-color: #EEE;
      width:100%;
      height:2px;
      left:0;
      top:20px;
      z-index:-1;
      position:absolute;
    }
}
.arrow_link {
  color:#000000;
  text-decoration: none;
  position: relative;
  width:100%;
  padding-left:7px;
  &:hover {
    color:#666;
    text-decoration: none;
  }
  &::before {
    content:"\f054";
    position: absolute;
    font-weight:900;
    font-size:0.55rem;
    top:3px;
    left:0;
    font-family: "Font Awesome 5 Free";
    color:red;
  }
}

.card {
  border:none !important;
  border-radius:0 !important;
  .card-body {
    padding:15px 20px 22px 15px;
    background-color: #F2F2F2;
    span {
      font-size: 12px;
      color:#000000;
    }
    h5 {
      margin-top:10px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.red_box_holder {
  position: relative;
  h5 {
      font-size:1.5em;
  }
  .red_box {
    text-align:center;
    background-color: #e00024;
    color: #FFFFFF;
    padding: 0em;
    border-radius: 10px;
    font-size: 1.5em;
    line-height:3em;
    width: 3em;
    height: 3em;
  }
}
.proje_text {
  font-size:13px;
}
.ms-view {
  background-color:#FFFFFF !important;
}
@media(max-width:1015px) {
  .proje_text {
    font-size:10px;
  }
}
@media(max-width:1200px) {
  .red_box_holder {
    h5 {
        font-size:2em;
    }
    .red_box {
      font-size: 2em;
    }
  }
}

.kat_planlari {
  img {
    border:10px solid #e3e1dd;
  }
}

.red_box_holder2 {
  position: relative;
  h5 {
      font-size:1.5em;
  }
  .red_box {
    text-align:center;
    background-color: #e00024;
    color: #FFFFFF;
    padding: 0em;
    border-radius: 10px;
    font-size: 1.5em;
    line-height:3em;
    width: 3em;
    height: 3em;
  }
}

.brown_box_holder2 {
  position: relative;
  h5 {
      font-size:1em;
      margin-top:5px;
  }
  .brown_box {
    text-align:center;
    background-color: #816d5b;
    color: #FFFFFF;
    padding: 0em;
    border-radius: 10px;
    font-size: 1.5em;
    line-height:3em;
    width: 3em;
    height: 3em;
  }
}

#map {
  height:474px;
}

.kat_plani_detay_tablo {
  table {
    th {
      padding: 0.1rem 0.3rem;
    }
    td {
      padding: 0.1rem 0.3rem;
    }
  }
}

.owl-theme {
  .owl-item {
    div {
      overflow: hidden;
    }
  }
}

.proje_genel_ozellikler {
    column-count: 1;
}

@media(min-width:900px) {
  .proje_genel_ozellikler {
      column-count: 2;
  }
}
