.fa-fw {
  width:39px;
  font-weight:600;
}

.select2-container {
  width:100% !important;
  .select2-selection--single {
      height:100%;
      border-color:#ced4da;
      padding:3px 0;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $sea_color;
}
